<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laba.solvd.pharmacy.interfaces.IEmployeeDAO">

    <insert id="saveEntity" keyColumn="employee_id" keyProperty="employeeId" useGeneratedKeys="true">
        INSERT INTO employees (person_id, position_id)
        VALUES (#{personId}, #{positionId})
    </insert>

    <sql id="employeeSelect">
        SELECT * FROM employees
    </sql>

    <select id="getEntityByID" resultMap="EmployeeResultMap">
        <include refid="employeeSelect"/>
        WHERE employee_id = #{id}
    </select>

    <update id="updateEntity">
        UPDATE employees
        SET person_id = #{personId}, position_id = #{positionId}
        WHERE employee_id = #{employeeId}
    </update>

    <delete id="removeEntityById">
        DELETE FROM employees WHERE employee_id = #{id}
    </delete>

    <select id="getAll" resultMap="EmployeeResultMap">
        <include refid="employeeSelect"/>
    </select>

    <resultMap id="EmployeeResultMap" type="com.laba.solvd.pharmacy.model.Employee" autoMapping="false">
        <id column="employee_id" property="employeeId"/>
        <result column="person_id" property="personId"/>
        <result column="position_id" property="positionId"/>
    </resultMap>

</mapper>
