<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laba.solvd.jdbc.dao.interfaces.ISupplierDAO">

    <insert id="saveEntity" keyColumn="supplier_id" keyProperty="supplierId" useGeneratedKeys="true">
        INSERT INTO suppliers (person_id)
        VALUES (#{personId})
    </insert>

    <sql id="supplierSelect">
        SELECT * FROM suppliers
    </sql>

    <select id="getEntityByID" resultMap="SupplierResultMap">
        <include refid="supplierSelect"/>
        WHERE supplier_id = #{id}
    </select>

    <update id="updateEntity">
        UPDATE suppliers
        SET person_id = #{personId}
        WHERE supplier_id = #{supplierId}
    </update>

    <delete id="removeEntityById">
        DELETE FROM suppliers WHERE supplier_id = #{id}
    </delete>

    <select id="getAll" resultMap="SupplierResultMap">
        <include refid="supplierSelect"/>
    </select>

    <select id="getSuppliersByName" resultMap="SupplierResultMap">
        <include refid="supplierSelect"/>
        WHERE name = #{name}
    </select>

    <resultMap id="SupplierResultMap" type="com.laba.solvd.jdbc.model.Supplier" autoMapping="false">
        <id column="supplier_id" property="supplierId"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

</mapper>
