<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/address-mapper.xml"/>
        <mapper resource="mappers/customer-mapper.xml"/>
        <mapper resource="mappers/doctor-mapper.xml"/>
        <mapper resource="mappers/doctor-specialty-mapper.xml"/>
        <mapper resource="mappers/employee-mapper.xml"/>
        <mapper resource="mappers/medication-mapper.xml"/>
        <mapper resource="mappers/person-mapper.xml"/>
        <mapper resource="mappers/position-mapper.xml"/>
        <mapper resource="mappers/prescription-mapper.xml"/>
        <mapper resource="mappers/sale-mapper.xml"/>
        <mapper resource="mappers/supplier-mapper.xml"/>
    </mappers>
</configuration>